/*! -===================- Base styles -===================- */
body {
  background-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.05rem;
}

section,
.home,
.nav_menu {
  min-height: 100vh;
}

h2 {
  padding-bottom: 20px;
  font-size: 2.5rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

.flex {
  display: flex;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Axiforma, Arial, Helvetica, sans-serif;
  color: #efefef;
}

.container {
  flex: 3 2 auto;
  max-width: 70%;
  padding: 0 40px;
}

.empty {
  flex: 1 1 30%;
}

.button {
  align-self: flex-start;
  border-radius: 3px;
  padding: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #3deaa4;
  color: #121212;
}

.button:hover {
  background-color: #121212;
  color: #3deaa4;
  transition: ease 0.7s;
}

.border {
  border: 1px solid #3deaa4;
}

/*! -===================- Navigation -===================- */
.nav_menu {
  justify-content: center;
  position: fixed;
  max-width: 30%;
  width: 100%;
  padding: 0 20px;
  color: #3deaa4;
}

.nav_wrap {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 40px 40px;
}

.nav_header {
  font-weight: bold;
  font-size: 24px;
}

.nav_list {
  flex-direction: column;
  gap: 16px 0;
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}

.nav_list a,
.nav_list a:active {
  display: inline-block;
  width: 100%;
  color: #3deaa4;
}

.nav_list a:hover {
  color: #efefef;
  transition: all ease-in-out 0.5s;
}

/*! -===================- HOME -===================- */
.home {
  justify-content: flex-end;
  align-items: center;
}

.home_h1 {
  position: absolute;
  left: 40px;
  z-index: 1;
  font-size: 72px;
  color: #3deaa4;
}

.home_foto {
  margin-right: -45px;
}

/*! -===================- About me -===================- */
.about_me {
  flex-direction: column;
  justify-content: center;
  gap: 20px 20px;
}

.about_me p {
  line-height: 1.6rem;
}

/*! -===================- Skills -===================- */
.skills {
  flex-direction: column;
  justify-content: center;
  gap: 20px 0;
}

.skills_wrap {
  flex-wrap: wrap;
  gap: 20px 40px;
}

.skills_hard,
.skills_soft {
  flex-direction: column;
  gap: 20px 0;
  flex: 1 1 209px;
}

.skills_legend {
  gap: 20px 40px;
}

.skills_legend div:nth-child(1)::before,
.skills_legend div:nth-child(2)::before,
.skills_legend div:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.skills_legend div:nth-child(1)::before {
  background-color: #00ffff;
}

.skills_legend div:nth-child(2)::before {
  background-color: #a0a6ff;
}

.skills_legend div:nth-child(3)::before {
  background-color: #2c75ff;
}

.know_skills_border {
  border-bottom: 3px solid #00ffff;
}

.understand_skills_border {
  border-bottom: 3px solid #a0a6ff;
}

.can_skills_border {
  border-bottom: 3px solid #2c75ff;
}

/*! -===================- Language -===================- */
.lang {
  flex-direction: column;
  justify-content: center;
}

.lang_list {
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0 40px;
  list-style-type: none;
}

.lang_list li {
  flex-grow: 1;
  max-width: 250px;
  padding-bottom: 16px;
}

.lang_list li::before {
  content: "";
  display: inline-block;
  background-size: 28px 16px;
  width: 28px;
  height: 16px;
  margin-right: 16px;
}

.rus::before {
  background: url(/images/icons/Russia.png) no-repeat 50%;
}

.pl::before {
  background: url(/images/icons/poland.png) no-repeat 50%;
}

.gb::before {
  background: url(/images/icons/united-kingdom.png) no-repeat 50%;
}

/*! -===================- Fonts -===================- */
@font-face {
  font-family: Axiforma;
  src: url(fonts/Axiforma\ Regular.otf);
  src: url(fonts/Axiforma\ Regular.ttf);
  src: url(fonts/Axiforma\ Regular.woff2);
}

@font-face {
  font-family: Axiforma;
  src: url(fonts/Axiforma\ W05\ Bold.otf);
  src: url(fonts/Axiforma\ W05\ Bold.ttf);
  src: url(fonts/Axiforma\ W05\ Bold.woff2);
  font-weight: bold;
}
